/*import* fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
    background-color: slateblue;
    font-family: 'Caveat', sans-serif;
}

h1{
    text-align: center;
}